# Database
DB_NAME=finflow
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Kafka
KAFKA_BROKER=localhost:9092

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_ENDPOINT=localhost:9000
MINIO_SECURE=False
MINIO_BUCKET=finflow-docs

# Django
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

HMAC_SECRET=your-hmac-secret-here