django==4.2.*
djangorestframework==3.15.*
djangorestframework-simplejwt==5.3.*
psycopg2-binary==2.9.*
python-decouple==3.8
kafka-python==2.0.*
pytest==8.2.*
pytest-django==4.8.*
pytest-cov==5.*
factory-boy==3.3.*
minio==7.2.*